click
prettytable
pulp
python-constraint
negmas>=0.9.0
tqdm
jupyter
gif
joblib
dataclasses; python_version < '3.7'
cloudpickle
mip
papermill
-e .


notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability

mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
