pytest
hypothesis
coverage
jinja2
matrix
tox
pysnooper
coverage
pytest-coverage
pytest-repeat
jupyter
ipykernel
-r docs/requirements.txt
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
