click
prettytable
pulp
python-constraint
negmas>=0.8.3
tqdm
jupyter
gif
joblib
dataclasses; python_version < '3.7'
cloudpickle
mip
-e .


notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
