nbconvert
nbformat
nbsphinx
sphinx
sphinx-autoapi
sphinx-autodoc-annotation
sphinx-autodoc-typehints
# sphinx-automodapi
sphinx-rtd-theme
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
sphinxcontrib-websupport
stringcase
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
