Pillow
Pygments
docopt
docutils
imagesize
inflect
ipykernel
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
kiwisolver
lxml
more-itertools
nbconvert
nbformat
networkx
pandoc
pandocfilters
sphinx
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-automodapi
sphinx-rtd-theme
nbsphinx
stringcase
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
sphinxcontrib-websupport
